.dropdown-toggle::after {
    display: none;
}

.search-container {
    border-radius: 5px;
    border: 1px solid var(--bs-border-color);

    input {
        border: 0;
    }

    input:focus {
        box-shadow: none;
    }
}

.cards {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.league-list {
    max-height: 301px;
    overflow: auto;
}

.league-item {
    cursor: pointer;
}

.league-item:hover {
    background-color: var(--bs-primary-bg-subtle);
}
